@page
@model DeepestLakes
@{
    ViewData["Title"] = "Najgłębsze jeziora";
}
<div style="width:100%;height:92vh; display:flex;flex-direction:column;overflow:auto">
    <h1 style="margin:10px auto 0 auto">@ViewData["Title"]</h1>

    @foreach (var lake in Model.lakes)
    {
        <div style="display:flex;flex-direction:column">
            <h1 style="margin:10px auto 0 auto" class="Name">@lake.Name</h1>
            <img style="max-width:50%;margin:10px auto 0 auto" src="@lake.Url" />
            <h3 style="margin:10px auto 0 auto" class="Size">Głębokość @lake.Size</h3>
            <p style="margin:10px auto 0 auto" class="Description">@lake.Description</p>
        </div>
    }
</div>